<header>
  <nav class="navbar navbar-expand-lg">
    <div class="mobile-navbar-background" *ngIf="this.showNavbar" (click)="this.navbarBtnClick()"></div>
    <div class="container" [ngClass]="{'justify-content-center': !this.authService.isAuthenticated()}">
      <a class="navbar-brand" href="#"
        ><h2>Moto<em>Landia</em></h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        *ngIf="this.authService.isAuthenticated()"
        (click)="this.navbarBtnClick()"
      >
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" #navBar id="navbarNav" *ngIf="this.authService.isAuthenticated()">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" (click)="this.navbarBtnClick()">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['carro']" (click)="this.navbarBtnClick()">Carro de compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pedidos']" (click)="this.navbarBtnClick()">Mis pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['perfil']" (click)="this.navbarBtnClick()">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="this.logout()">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>
<div class="navbar-space">
  <div class="navbar-name">
    <div class="container-fluid container-lg">
      <span class="color-red me-3" *ngIf="this.authService.getUserInfo()">{{ this.authService.getUserInfo().name }}</span>
    </div>
  </div>
</div>
